name: main

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: pip install tox

      - name: Run tox
        run: tox -e ${{ matrix.name }}

    strategy:
      matrix:
        include:
        - name: lint
          python: "3.12"

        - name: py37-dj32
          python: "3.7"

        - name: py38-dj32
          python: "3.8"

        - name: py39-dj42
          python: "3.9"

        - name: py310-dj42
          python: "3.10"

        - name: py311-dj50
          python: "3.11"

        - name: py312-dj50
          python: "3.12"

  deploy:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'hakib/django-admin-lightweight-date-hierarchy'
    runs-on: ubuntu-22.04
    needs: [test]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade build

      - name: Build package
        run: python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
